<template name="header">
 <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <div class="col s12">
          <a href="#!" class="brand-logo">Logo</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{ pathFor 'home' }}"><i class="mdi-action-home left"></i> Home</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
	<form class="go container">
		<div class="input-field">
			<input id="vid" type="text" class="validate" name="vid">
			<label for="vid">Video ID</label>
		</div>
		<!--<input class="waves-effect waves-light btn" type="submit" value="Load video">-->
	</form>
</template>